$color-primary: #3098f0;
$color-grey: #9099a1;
$color-grey-dark: #454646;
$color-grey-light:#e8eaec;

$grid-width: 130rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;
