body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  // line-height: 1.7;
      /* This means the line height will be 1.7 times bigger than normal line height */
  // color: $color-grey-dark;
  // padding: 3rem;
  /* this will be set to all elements */
}
p {

}


.landing__header {
  color: black;
  // text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
  display: block;
  font-size: 6.5rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px $color-grey;
  font-family: 'Muli', sans-serif;

  &-sub {
    font-size: 1.2em;
    color: white;
    text-shadow: none;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 0 10%;
    text-align: center;
    font-family: 'Muli', sans-serif;
  }
}

.section {

  &__heading {
    font-family: 'Muli', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4rem 2rem;
    color: $color-grey-dark;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: left;
    // z-index: -1;
  }
    &__info {
      font-size: 2.5rem;
      line-height: 1.5;
      padding: 2rem 10% 4rem 10%;
      color: $color-grey-dark;
      font-family: "Montserrat;"
    }



// Below is the blue line surroinding the headers
    & span {
      position: relative;
      display: inline-block;
      padding-left: 2rem;

      // &:before {
      //   content: '';
      //   position: absolute;
      //   top: 50%;
      //   border-bottom: .2rem solid;
      //   width: 100rem;
      //   margin: 0 8%;
      //   right: 100%;
      //   color: $color-primary;
      // }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        border-bottom: .2rem solid;
        width: 200rem;
        margin: 0 8%;
        left: 100%;
        color: $color-primary;
      }
    }
  }


    // &:before {
    //   position: absolute;
    //   top: 51%;
    //   overflow: hidden;
    //   width: 50%;
    //   height: .25rem;
    //   content: '\a0';
    //   background-color: $color-primary;
    //   margin-left: -50%;
    //   text-align: right;
    //   padding: 0 5rem;
    //   }
    //
    //  &:after {
    //    position: absolute;
    //    top: 51%;
    //    overflow: hidden;
    //    width: 50%;
    //    height: .25rem;
    //    content: '\a0';
    //    background-color: $color-primary;
    // }
